@model ModelsLibrary.CustomerModel

@{
  ViewData["Title"] = "Search";
}

<style>
  .form-style {
    display: table;
    margin: 5% auto 20px auto;
    width: 30%;
    box-shadow: black 10px 10px 10px;
    padding: 15px;
  }

  .thin-border {
    border: 1px solid black;
    border-radius: 20px;
  }

  .center {
    text-align: center;
  }

  p {
    font-size: 1.5em;
  }
</style>

<h1>Search for another user</h1>
<p>You can search by first name, last name, or username</p>
<hr />
<br />

<div class="row">
  <div class="col-md-4 form-style thin-border">
    <form asp-action="DisplayCustomerDetails" autocomplete="off">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
      </div>
      @Html.HiddenFor(c => c.FirstName)
      @Html.HiddenFor(c => c.LastName)
      @Html.HiddenFor(c => c.Username)
      @Html.AntiForgeryToken()
      <div class="form-group center">
        <input type="submit" value="Search" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

