@model List<ModelsLibrary.StoredItemDisplay>
@{
  ViewData["Title"] = "Inventory";
}

<style>
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1em;
  }
</style>

<h1>@ViewBag.StoreLocation Inventory</h1>
<br />

@foreach (var item in Model)
{
  <h1>@item.ItemName</h1>
  <h2>@item.ItemDescription</h2>
  <h2>$@item.ItemPrice</h2>
  @if (item.InStock != 0)
  {
    @Html.ActionLink("Add to cart", "SpecifyQuantity", new { id = item.ItemId, 
                                                             name = item.ItemName, 
                                                             inStock = item.InStock })
  }
  <br />
  <br />
}



