@model List<string> 
@{
    ViewData["Title"] = "SelectStore";
}

<h1>Select a store location</h1>

<ul>
  @foreach (var item in Model)
  {
    <li>
        @Html.ActionLink(item, "StoreOptions", "Ordering", new { storeName = item })
    </li>
  }
</ul>

