@model ModelsLibrary.StoreModel
@{
  ViewData["Title"] = "StoreOptions";
}

<h1>@Model.StoreLocation location</h1>

<ul>
  <li>
    @Html.ActionLink("Inventory", "Inventory"@*, new { id = Model.StoreId }*@)
  </li>
  <li>
    @Html.ActionLink("Store order history", "SeeStoreHistory", "History", new { location = Model.StoreLocation })
  </li>
</ul>

