@model ModelsLibrary.StoreModel
@{
  ViewData["Title"] = "StoreOptions";
}

<style>
  p {
    font-size: 1.5em;
  }
</style>

<h1>@Model.StoreLocation location</h1>
<p>@Html.ActionLink("Change store", "SelectStore")</p>
<hr />

<div>
  <p>@Html.ActionLink("Inventory", "Inventory")</p>
  <br />
  <p>@Html.ActionLink("Store order history", "SeeStoreHistory", "History", new { location = Model.StoreLocation })</p>
</div>
