@{
  ViewData["Title"] = "Registration Successful";
}
@{
  Layout = "~/Views/Shared/_Layout_Signed_Out.cshtml";
}

<h2>@ViewBag.RegSuccess</h2>
<br />


<div>
  @Html.ActionLink("Login now!", "LoginCustomer", "Login") |
  @Html.ActionLink("Back to Landing", "Index", "Landing")
</div>


