@model ModelsLibrary.CustomerModel
@using Microsoft.AspNetCore.Http;

@{
  ViewData["Title"] = "Index";
}

<h1>Home</h1>

<a class="navbar-brand" asp-area="" asp-controller="Ordering" asp-action="SelectStore">
  Shop
</a>
<br />
<a class="navbar-brand" asp-route-customerId="@Context.Session.GetInt32("CustomerId")" asp-controller="History" asp-action="SeeCustomerHistory">
  Your order history
</a>
<br />
<a class="navbar-brand" asp-area="" asp-controller="CustomerSearch" asp-action="Search">
  Customer search
</a>



