@model ModelsLibrary.CustomerModel
@using Microsoft.AspNetCore.Http;

@{
  ViewData["Title"] = "Index";
}

<style>
  p {
    font-size: 1.5em;
  }
</style>

<h1>Home</h1>
<hr />
<br /> 

<div>
  <p>@Html.ActionLink("Shop", "StoreOptions", "Ordering", new { storeName = Context.Session.GetString("DefaultStore") })</p>
  <br />
  <p>@Html.ActionLink("Your order history", "SeeCustomerHistory", "History", new { customerId = ViewBag.CustomerId })</p>
  <br />
  <p>@Html.ActionLink("Customer search", "Search", "CustomerSearch")</p>
</div>


